body{
  background-color: #000000;
  font-family: 'Raleway', sans-serif;
  
  }
  
  body * {
  margin: 0%;
  border: 0%;
  padding: 0%;
  }
  
  
.container{
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  }


.img-principal{
  width: 100%;
  padding: 25px 0px 25px 0px;
  }
  
h1{
  text-align: center;
  color: #ffffff;
  font-weight: 400;
  font-size: 3.75em;
}

h2{
  padding-top: 75px;
  font-weight: 400;
  font-size: 2em;
}
  
.text-iguana2 {
  width: 475px;
  height: 190px;
  text-align: left;
  font-size: 1em;
  font-weight: 300;
  display: inline-block;
  }
  
  
section, footer {
  margin-top: 75px;
  }
  
.gris {
  margin-top: 75px;
  background: #1E1A13;
  height: 348px;
  width: 100%;
  padding: 15px 30px 15px;
  align-items: center;
  }
  
img {
  width: 25%;
  display: inline-block;
  }
  
footer {
  background: #1E1A13;
  height: 150px;
  width: 100%;
  
  }
  
footer p{
  padding: 50px 50px 20px;
  }

.iguanas {
  display: inline-block;
}

.derecha {
  width: 45%;
  
 }
  
  .iguana-pic {
  display: inline-block;
  padding: 5px 30px 25px 0px;
  }
  
  .iguanas img{
    align-items: center;
  }
  ul {
  list-style-type: none;
  }
  
  ul li {
  vertical-align: middle;
  display: inline-block;
  margin: 3em;
  font-size: 30px;
  padding: 1rem;
  }
  .gris-2{
    align-content: center;
  }
  
